<% content_for :breadcrumb do %>
  Editing Quest
<% end %>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header card-header-text">
        <div class="card-icon">
          <i class="material-icons">book</i>
        </div>
        <h4 class="card-title">Edit Quest</h4>
      </div>
      <%= render 'form', quest: @quest %>
    </div>
  </div>
</div>