<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <%= link_to "#" do %>
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">local_offer</i>
          </div>
          <p class="card-category"><b>Connect Facebook</b></p>
          <h3 class="card-title">+</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <%= link_to "#" do %>
      <div class="card card-stats">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">card_membership</i>
          </div>
          <p class="card-category"><b>Email Invite</b></p>
          <h3 class="card-title">+</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <%= link_to "#" do %>
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">people</i>
          </div>
          <p class="card-category"><b>Search Username</b></p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> Just Updated
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


