<% content_for :breadcrumb do %>
  Add Deal
<% end %>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header card-header-text">
        <div class="card-icon">
          <i class="material-icons">local_offer</i>
        </div>
        <h4 class="card-title">Add New Deal</h4>
      </div>
      <%= render 'form', deal: @deal %>
    </div>
  </div>
</div>
          