<% content_for :breadcrumb do %>
  Add POI
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-rose card-header-text">
        <div class="card-icon">
          <i class="material-icons">place</i>
        </div>
        <h4 class="card-title">Add new POI</h4>
      </div>
      <%= render 'form', poi: @poi %>
    </div>
  </div>
</div>
          